@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "degular-bold";
  src: url(../../assets/fonts/Degular-Fonts/Degular-Bold.otf);
}
@font-face {
  font-family: "degular-semibold";
  src: url(../../assets/fonts/Degular-Fonts/Degular-Semibold.otf);
}

$font-main: "Inter", sans-serif;
$font-degular-bold: "degular-bold";
$font-degular-semibold: "degular-semibold";
$font-flower: "Indie Flower", cursive;
