@use "../utils" as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: u.$font-main;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-size: 100% !important;
  background-color: #1e222a;
  overflow-x: hidden;
  color: white;
}

.font-degular-bold {
  font-family: u.$font-degular-bold;
}
.font-degular-semibold {
  font-family: u.$font-degular-semibold;
}
.font-flower {
  font-family: u.$font-flower;
}

.ribbon {
  position: absolute;
  height: 100%;
  z-index: -1;

  &.one {
    top: 0;
    left: 0;
  }
  &.two {
    top: 0;
    right: 0;
  }

  &.one {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &.two {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: u.rem(60);
    margin-right: u.rem(16);
  }
  p {
    font-size: u.rem(46);
  }
}

@include u.breakpoint(twoxLarge) {
  .ribbon {
    height: 50vw;
  }

  .logo {
    img {
      width: u.rem(52);
      margin-right: u.rem(16);
    }
    p {
      font-size: u.rem(36);
    }
  }
}

@include u.breakpoint(large) {
  .logo {
    img {
      width: u.rem(38);
      margin-right: u.rem(14);
    }
    p {
      font-size: u.rem(28);
    }
  }
}
